service: streamvault

image: vitobotta/streamvault

servers:
  web:
    hosts:
      - <IP>

drain_timeout: 120
deploy_timeout: 60

proxy:
  ssl: true
  hosts:
    - media.domain.com
  forward_headers: true
  app_port: 3000

registry:
  username: ...

  password:
    - KAMAL_REGISTRY_PASSWORD

# Configure builder setup.
builder:
  arch: amd64

env:
  clear:
    WEB_CONCURRENCY: 4
    ENABLE_SIGNUPS: false
  secret:
    - RAILS_MASTER_KEY
    - DATABASE_URL
    - SECRET_KEY_BASE

aliases:
  shell: app exec --interactive --reuse "bash"
  console: app exec -i --reuse "bin/rails console"
  migrate: app exec -i --reuse "bin/rails db:migrate"
  logs: app logs -f

# accessories:
#   db:
#     image: postgres:17.7
#     host: <IP>>
#     port: 5432
#     env:
#       secret:
#         - DATABASE_PASSWORD
#         - DATABASE_USER
#         - DATABASE_DB
#     directories:
#       - data:/var/lib/postgresql/data
